.recipes {
  display: flex;
  justify-content: center;
  padding: 100px 0px 215px 80px;
  box-sizing: border-box;
  flex-direction: column;
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  color: #fff;
}

.recipes__title {
  max-width: 580px;
  margin: 0;
  font-family: "Inter", arial, "Times New Roman";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.recipes__subtitle {
  max-width: 438px;
  margin-top: 24px;
  margin-bottom: 0;
  font-family: "Noto Serif", arial, "Times New Roman";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
  margin-top: 80px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.recipes__video-link {
  display: flex;
  flex-direction: column;
}
.recipes__iframe {
  border: none;
}

.recipes__iframe-subtitle {
  width: 480px;
  display: flex;
  justify-content: space-between;
}

.recipes__video-caption {
  font-family: "Inter", arial, "Times New Roman";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}
