.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "inter", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;

  justify-content: center;
  color: #000;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-image: url(/images/background_header.svg);
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}

.header__logo {
  width: 105px;
  height: 39px;
  position: relative;
  top: 0px;
  left: 0px;
}

.nav__links {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  column-gap: 20px;
  padding: 0;
  margin: 0;
}

.header__nav-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.header__title {
  max-width: 729px;
  margin-top: 183px;
  margin-bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__title-azul {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin-top: 28px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  z-index: 1;
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  z-index: 2;
}

.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.content {
}

.recipes {
  display: flex;
  justify-content: center;
  padding: 100px 0px 215px 80px;
  box-sizing: border-box;
  flex-direction: column;
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  color: #fff;
}

.recipes__title {
  max-width: 580px;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.recipes__subtitle {
  max-width: 438px;
  margin-top: 24px;
  margin-bottom: 0;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
  margin-top: 80px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.recipes__video-link {
  display: flex;
  flex-direction: column;
}
.recipes__iframe {
  border: none;
}

.recipes__iframe-subtitle {
  width: 480px;
  display: flex;
  justify-content: space-between;
}

.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}
.reservation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(/images/background_reservation.svg);
  background-size: cover;
  box-sizing: border-box;
  background-color: #d9e7ff;
}

.reservation__title {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 80px;
  padding: 0;
}

.reservation__title-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  padding: 0;
}

.reservation__form {
  margin-bottom: 120px;
  padding: 0;
  box-sizing: border-box;
}

.form {
  display: flex;
  justify-content: center;
}
.form__fieldset {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  row-gap: 32px;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.form__label {
  display: flex;
  flex-direction: column;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  height: 60px;
  width: 385px;
  margin-top: 8px;
}
.form__input::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
.form__button {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  background-color: #2f80ed;
  border-radius: 4px;
}

.form__button:focus {
  opacity: 70%;
}

.form__checkbox {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 12px;
}
.form__checkbox-check {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  margin-right: 12px;
  padding: 0;
}
.form__checkbox-check:disabled:checked {
  background-color: #2f80ed;
  background-image: url(/images/check.svg);
}
.form__label-checkbox {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.footer {
}
